.App {
  text-align: center;
}


.header {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  color: #09d3ac;
}
.navbar{
  background-color: #000;
}

.footer{
  background-color: #000;
}

.router-component{
  min-height: 76vh;
}

.ql-editor {
  min-height: 50vh !important;
  font-size: large;
}